:root {
    /*horizontal-break-1: 1280px;*/
    /*horizontal-break-2: 600px;*/
    color-scheme: light dark;

    --border-radius: 5px;
    --transition-duration: 0.3s;
    --transition-duration-fast: 0.1s;

    --primary-color-light: light-dark(#674c8a, #563e75);
    --primary-color-mid: light-dark(#5e4680, #5e4680);
    --primary-color-dark: light-dark(#563e75, #674c8a);

    --secondary-color: #ccff57;

    --error-color: orange;
    --success-color: green;

    --white-color: white;
    --black-color: black;
    --gray-color: gray;
    --gray-color-light: rgb(190, 190, 190);

    --background-color-base: light-dark(white, rgb(40, 40, 40));
    --background-color-special: light-dark(rgb(237, 237, 237), rgb(60, 60, 60));
    --background-color-transparent: light-dark(rgba(102, 102, 102, 0.9), rgba(40, 40, 40, 0.85));

    --text-color: light-dark(black, white);
    --text-color-gray: light-dark(#333333, #bbbbbb);

    --line-color: light-dark(var(--primary-color-light), var(--secondary-color));
    --icon-color: light-dark(var(--secondary-color), var(--primary-color-light));
    --outline-hover-color: light-dark(var(--secondary-color), white);
}

:root.light-theme {
    color-scheme: light;
}

:root.dark-theme {
    color-scheme: dark;
}

/* if the transition time is not corresponding, have a look at the constants in '$lib/helper/light-dark.ts' */
.theme-transition * {
    transition: background-color var(--transition-duration),
        border-color var(--transition-duration),
        color var(--transition-duration),
        fill var(--transition-duration),
        stroke var(--transition-duration);
}


*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html,
body {
    background-color: var(--background-color-base);
}
