# Environment can be `dev`, `staging`, or `prod`.
ENVIRONMENT=dev

# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_ECHO=true

# OAuth2 / OpenID Connect Configuration
ZITADEL_ISSUER=https://id.test-conf.de
ZITADEL_CLIENT_ID=
ZITADEL_CLIENT_SECRET=
ZITADEL_REDIRECT_URI=http://localhost/auth/callback/zitadel

# OAuth2 Proxy Configuration
OAUTH2_PROXY_PROVIDER=oidc
OAUTH2_PROXY_OIDC_ISSUER_URL=https://id.test-conf.de
OAUTH2_PROXY_CLIENT_ID=
OAUTH2_PROXY_CLIENT_SECRET=
OAUTH2_PROXY_COOKIE_SECRET=
